/*NEED TO FIGURE OUT SOMETHING SO WE CAN PRINT COLORS!*/
@media print{
    body{
        background: transparent;
    }
}

.ImportantRow
{
    background-color:orangered;
}

.ImportantSubRow
{
    background-color:orange;
}

.TableButtonToggleSubTask
{
    float:left;
    height:20px;
    width:100%;
    /*background-color:transparent;
    border-color:transparent;*/
}

.TableButton
{
    float:left;
    height:20px;
    width:100%;
    /*background-color:transparent;
    border-color:transparent;*/
}

.TableChanges
{
    margin-top:20px;
}
.TableHeaderRow
{
    height:100px;
    font-size:18px;
}
.TableHeaderRow h1
{
    margin-top:40px;
    margin-bottom:0px;
    font-size:22px;
    font-weight:bold;
    text-align:center;
}
.TableHeaderCellRow1 
{
    width:25%;
}
.TableHeaderCellRow2
{
    width:25%;
}
.TableHeaderCellRow3 
{
    width:15%;
}
.TableHeaderCellRow4 
{
    width:15%;
}
.vertical-text-table
{
    max-width:5%;
    width:5%;
}
.vertical-text-table-purple
{
    background-color:purple;
    max-width:5%;
    width:5%;
}
.vertical-text-table-purple p
{
    color:white;
    margin-top:30px;
    text-align:center;
}
.vertical-text-table-yellow
{
    background-color:yellow;
    max-width:5%;
    width:5%;
}
.vertical-text-table-yellow p
{
    margin-top:30px;
    text-align:center;
}
.vertical-text-table-green
{
    margin-top:30px;
    background-color:green;
    max-width:5%;
    width:5%;
}
.vertical-text-table-green p
{
    color:white;
    margin-top:30px;
    text-align:center;
}
.vertical-text-table-red
{
    background-color:red;
    max-width:5%;
    width:5%;
}
.vertical-text-table-red p
{
    margin-top:22px;
    text-align:center;
}
.vertical-text-table p
{
    font-size:18px;
    margin-left:-10px;
    margin-right:-10px;
    transform-origin: center;
    transform:rotate(90deg);
}