@model ProjectManagerMVC.Models.TaskManagerViewModels.Maintainance_Task

@{
    ViewData["Title"] = "Opret Opgave";
}

<h2>Opret</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Opgave</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>

        <input type="hidden" asp-for="Status.Status_ID" value="4"/>

        @*<div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control">
                    <option value="1">@Html.DisplayNameFor(c => c.Status.Status_Name)</option>
                    <option value="2">Standby</option>
                    <option value="3">Complete</option>
                    <option value="4">Awaiting Approval</option>
                </select>
                <span asp-validation-for="Status"></span>
            </div>
        </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="ApprovedComplete" />
                    <label asp-for="ApprovedComplete"></label>
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            <label asp-for="ApprovedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger" />
            </div>
        </div>*@

        @*<div class="form-group">
            <label asp-for="CompletionDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompletionDate" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger" />
            </div>
        </div>*@

        @*<div class="form-group">
            <label asp-for="CreationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger" />
            </div>
        </div>*@

        <div class="form-group">
            <label asp-for="Deadline" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPriority" />
                    <label asp-for="IsPriority"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
